html {
  /*Screen Dimensions*/
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: block;
  background-color: var(--smoky-black);
  /* CSS HEX */
  --second-color: #9400d3 ;
  --first-color: #00ffff;
  --smoky-black: #000000;
  --white: #f8f8f8;

/*Fonts*/
  --font-family-titles: 'Righteous', cursive;
  --font-family-descriptions:  'Montserrat', sans-serif;
  --size-s: 1rem;
  --size-m: 1.4rem;
  --size-l: 1.6rem;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#root {
  width: 100%;
  height: 100%;
}
.home-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0%;
  padding: 0px;
}
.navbar {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 0;
  flex-direction: row;
  background-color: var(--smoky-black);
}
.ul-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 76%; 
  gap: 8px;
  list-style-type: none;
  font-family: var(--font-family-descriptions);
  font-size: var(--size-s);
  font-weight: bolder;
}
.ul-navbar li {
  align-self: center;
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  background: var(--smoky-black);
  -webkit-box-shadow: 2px 2px 5px var(--second-color); 
    -moz-box-shadow: 2px 2px 5px var(--second-color); 
  box-shadow: 0px 2px 4px var(--second-color); 
  text-wrap: nowrap;
}
.li-navbar a {
  font-family: var(--font-family-descriptions);
  font-size: var(--size-s);
  font-weight: bolder;
  color: var(--white);
  text-decoration: none;
  -webkit-text-stroke: 0.1px var(--second-color);
}

.border-efect-div {
  height: 280px;
  width: 100%;
  background-color: var(--first-color);
  border-radius: 0 0 480px 480px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-efect-div::before {
  content: "";
  position: absolute;
  height: 400px;
  width: 100%;
  background-image: conic-gradient(var(--second-color) 100deg, transparent 20deg);
  animation: rotar 4s linear infinite;
}

@keyframes rotar{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(-360deg);
  }
}

.border-efect-div::after {
  margin-top: -10px;
  content: "";
  position: absolute;
  height: 288px;
  width: 100%;
  background: var(--smoky-black);
  border-radius: 0 0 480px 480px;
}
.img-profile-div {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  z-index: 1; 
}
.img-profile-div img {
  width: 44vh;
  mask-image: linear-gradient(
    var(--smoky-black) 70%, 
    transparent
  );
}
.titles-home-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-family: var(--font-family-titles);
  font-size: var(--size-l);
  position: relative;
  z-index: -1;
}
.titles-home-div h1 {
  padding: 0;
  font-size: 80px;
  font-weight: 100;
  color: var(--first-color);
  -webkit-text-stroke: 0.5px white;
  text-shadow: 20px 30px 10px var(--second-color);
}
.titles-home-div h2 {
  position: sticky;
  align-self: flex-end;
  margin: 2% 0;
  right: 10%;
  font-size: 60px;
  font-weight: 100;
  color: var(--smoky-black);
  -webkit-text-stroke: 1px var(--second-color);
  text-shadow: 0px 2px 4px var(--first-color);
}
.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 50px 8px;
}
.icon-container img {
  width: 60px;
  filter: drop-shadow(14px 10px 20px var(--second-color));
}
/* cursor del h2 */
.cursor {
  display: inline-block;
  width: 0.1em;
  height: 1em;
  margin-left: 0.05em;
  background-color: black;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*EXPERIENCE PAGE*/
.exp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px;
}
.exp-container h2 {
  color: var(--first-color);
  font-family: var(--font-family-titles);
  font-weight: 100;
  font-size: 70px;
  -webkit-text-stroke: 0.5px var(--white);
  text-shadow: 6px 6px 8px var(--second-color);
}
.exp-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  padding-bottom: 40px;
  gap: 10%;
}
/*CARDS*/
.card {
  overflow: visible;
  width: 300px;
  height: 400px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, var(--second-color), var(--second-color), var(--second-color), var(--second-color), transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: var(--smoky-black);
  border-radius: 5px;
  font-family: var(--font-family-descriptions);
  font-size: var(--size-m);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  height: 28%;
  padding: 2px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 16px;
  max-width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 20px;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 12px;
}

.front .img {
  position: absolute;
  width: 120%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.img img {
  width: 110%;
  height: 100%;
  margin-bottom: 8px;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
/*PROJECTS CARDS AND CONTAINER*/
.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 14px;
}
.project-card-container a {
  text-decoration: none;
}
.project-card-sm {
    padding: 2.5px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: transform 0.4s, box-shadow 0.4s ;
  }
  
  .project-card-sm:hover {
    transform: scale(1.025);
    box-shadow: 0 0 100px -30px var(--second-color);
  }
  
  
  .project-card-sm .card-border-gradient {
    content: "";
    position: absolute;
    bottom: 50%;
    height: 300%;
    width: 10rem;
    z-index: -1;
    background: linear-gradient(to right, transparent, var(--second-color), transparent);
    
    transition: opacity 0.3s ;
    opacity: 0;
      
    animation: animate-border-gradient 5s infinite linear;
  }
  
  .project-card-sm:hover .card-border-gradient {
    opacity: 1;
  }
  
  @keyframes animate-border-gradient {
    0% {
      transform: rotate(0deg);
      transform-origin: bottom;
    }
    100% {
      transform: rotate(360deg) ;
      transform-origin: bottom;
    }
  }
  .project-card-sm .card-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    padding: 3%;
    border-radius: 12px;
    background-color: hsl(0, 0%, 10%);
    color: var(--white);
  }
  
  .card-container img {
    width: 100%;
    height: 76%;
    margin: auto;
    border-radius: 8px;
    
    transition: transform 0.3s;
  }
  
  .card-container .wrapper {
    height: 54%;
    width: 100%;
    top: 18%;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: var(--size-s);
    text-align: center;
    line-height: 1.4;
  }
  
  .card-container .wrapper h3 {
    margin: auto;
    font-family: var(--font-family-titles);
    font-size: var(--size-m);
    font-weight: 100;
    line-height: 1;
    color: var(--white);
  }
  .card-container .wrapper p {
    margin: 10px auto;
    font-family: var(--font-family-descriptions);
    font-size: var(--size-s);
  }
  .card-container .wrapper span {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 8px auto;
    padding: 2px;
    border-radius: 8px;
    border: 1px solid var(--second-color);
  }
  .card-container .wrapper span img {
    width: 36px;
  }
/*ESTILOS KNOWNLEDGE*/
.knownledge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
}
  .knownledge-container h2 {
    color: var(--first-color);
    font-family: var(--font-family-titles);
    font-weight: 100;
    font-size: 70px;
    -webkit-text-stroke: 0.5px var(--white);
    text-shadow: 6px 6px 8px var(--second-color);
  }
  .knownledge-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin-top: 40px;
    gap: 92px;
  }
 
/* CARD KNOWLEDGE*/
.project-info {
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: -50px;
}

.project-title {
  font-weight: 500;
  font-size: var(--size-s);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--white);
}

.lighter {
  font-size: 0.9em;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-weight: lighter;
  color: grey;
}

/*DELETE THIS TWO LINE*/
.delete {
  background-color: #b2b2fd;
}

.title-img div {
  width: 90%;
}
/*IF USING IMAGES*/

.knownledge-title {
  background-color: var(--smoky-black);
  color: var(--second-color);
  width: 300px;
  max-height: 200px;
  border-radius: 8px;
  box-shadow: var(--second-color)  0px 0px 20px 0px,
    var(--second-color) 0px 30px 60px -30px;
}

.title-img {
  position: relative;
  top: -50px;
  height: 180px;
  display: flex;
  justify-content: center;
}

/* Change the .card-img div to .card-img img to use img*/
.title-img a,
.title-img div {
  height: 150px;
  width: 90%;
  /* Change this width here to change the width of the color/image */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title-imgs {
  transition: all 0.5s;
}
/*ABOUT SECTION*/
.about-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.about-div h2 {
  color: var(--first-color);
  font-family: var(--font-family-titles);
  font-weight: 100;
  font-size: 70px;
  -webkit-text-stroke: 0.5px var(--white);
  text-shadow: 6px 6px 8px var(--second-color);
}
.about-section{
  display: flex;
  gap: 8%;
  width: 70%;
  margin: 0 auto;
  border-radius: 24px;
  box-shadow: var(--second-color) 0px 0px 60px 0px;
}
/*IMAGES SLIDE*/

.slideshow{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
}

.slideshow-item{
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: slideanim 61s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
  animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
  animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
  animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img{
  animation-delay: 30s;
}
.slideshow-item:nth-child(5),
.slideshow-item:nth-child(5) img{
  animation-delay: 40s;
}

.slideshow-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 31s infinite;
  mask-image: linear-gradient(
    var(--smoky-black) 70%, 
    transparent);
}

.slideshow-item-text{
  max-width: 44%;
  position: absolute;
  top: 62%;
  transform: translateY(-50%);
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white);
  padding: 2rem 4rem;
  font-family: var(--font-family-titles);
}

.slideshow-item-text h5{
  font-size: xxx-large;
  font-family: var(--font-family-titles);
  font-weight: 500;
  letter-spacing: 3px;
}

.slideshow-item-text p{
  font-family: var(--font-family-descriptions);
  font-weight: 300;
  font-size: var(--size-l);
  margin-top: 2rem;
}

@keyframes slideanim{
  25%{
      opacity: 1;
  }
  40%{
      opacity: 0;
  }
}

@keyframes zoom{
  100%{
      transform: scale(1.3);
  }
}

@media screen and (max-width: 1100px){
  .slideshow-item-text{
      max-width: 75%;
  }
}

@media screen and (max-width: 768px){
  .slideshow-item-text{
    padding: 0rem 1.5rem;
  }
}

@media screen and (max-width: 456px){
  .slideshow-item-text{
      max-width: 100%;
      top: inherit;
      transform: translateY(0);
      bottom: 0;
  }

  .slideshow-item-text h5{
      font-size: 2rem;
  }

  .slideshow-item-text p{
      font-size: 1rem;
  }
  .card-container .wrapper {
    margin: 10px auto;
  }
  .card-container .wrapper p {
    content-visibility: hidden;
  }
}

.footer {
  margin-top: -1px;
  display: flex;
  height: 30%;
}
.footer ul {
  position: absolute;
  left: 46%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: auto;
  gap: 60px;
}
.footer ul li {
  list-style: none;
  margin: 46px 80px;
}

.footer ul li a span {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  transition: .5s;
}
.footer ul li a span img {
  width: 30px;
}
.footer ul li a {
  text-decoration: none;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--smoky-black);
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 1s;
  box-shadow: -20px 20px 10px var(--first-color);
}
.footer ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: var(--first-color);
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
.footer ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: var(--first-color);
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}
.footer ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}
.footer ul li:hover .fa {
  color: #fff;
}
.footer ul li:hover span {
  color: #fff;
}
.footer ul li:hover:nth-child(1) a {
  background: #3b5998;
}
.footer ul li:hover:nth-child(1) a:before {
  background: #365492;
}
.footer ul li:hover:nth-child(1) a:after {
  background: #4a69ad;
}
.footer ul li:hover:nth-child(2) a {
  background: #00aced;
}
.footer ul li:hover:nth-child(2) a:before {
  background: #097aa5;
}
.footer ul li:hover:nth-child(2) a:after {
  background: #53b9e0;
}
.footer ul li:hover:nth-child(3) a {
  background: #ABB2B9 ;
}
.footer ul li:hover:nth-child(3) a:before {
  background: #D5D8DC ;
}
.footer ul li:hover:nth-child(3) a:after {
  background: #EAECEE;
}
ul li:hover:nth-child(4) a {
  background: #E67E22 ;
}
ul li:hover:nth-child(4) a:before {
  background: #D68910;
}
ul li:hover:nth-child(4) a:after {
  background: #F8C471;
}
@media only screen and (max-width: 760px) {
      header {
        margin-right: 8%;
      }
      .navbar {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;
        background-color: var(--smoky-black);
      }
      .ul-navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 6px;
        list-style-type: none;
      }
      .ul-navbar li {
        align-self: center;
        width: fit-content;
        border-radius: 4px;
        text-wrap: nowrap;
      }
      .li-navbar a {
        font-family: var(--font-family-descriptions);
        font-size: 10px;
        font-weight: bolder;
        color: var(--white);
        text-decoration: none;
        -webkit-text-stroke: 0.1px var(--second-color);
      }
      .titles-home-div h1 {
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        margin: 30px 50% 40px;
        align-self: center;
        padding: 0;
        font-size: 50px;
        font-weight: 100;
        color: var(--first-color);
        -webkit-text-stroke: 0.5px white;
        text-shadow: 20px 30px 10px var(--second-color);
      }
      .titles-home-div h2 {
        font-size: 32px;
        align-self: center;
      }
      .icon-container img {
        width: 30px;
      }
      .exp-container {
        margin: 20px 10px;
      }
      .exp-container h2 {
        font-size: 42px;
      }
      .card {
        overflow: visible;
        width: 158px;
        height: 222px;
      }
      .back-content {
        font-size: var(--size-s);
      }
      .front .front-content {
        justify-content: space-evenly;
    }
    .front-content .badge {
      position: fixed;
      margin: 0;
      top: 18px;
    }
    .title {
      font-size: 12px;
    }
    .badge {
      font-size: 12px;
    }
    .description {
      bottom: 0;
      position: fixed;
      height: 30%;
    }
    .card-container .wrapper {
      padding-top: 12px;
    }
      .knownledge-card-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 40px 10px;
        gap: 92px;
      }
        .knownledge-container h2 {
          font-size: 42px;
        }
        .about-div h2 {
          font-size: 42px;
        }
        .slideshow {
          height: 80vh;
        }
        .slideshow-item img {
          height: 50%;
        }
      .footer {
        margin-top: -1px;
        display: flex;
        height: 30%;
      }
      .footer ul {
        position: absolute;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 34% auto 0;
        padding: 0;
      }
      .footer ul li {
        list-style: none;
        margin: 46px 60px;
      }
      
}



