html {
  /*Screen Dimensions*/
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: block;
  background-color: var(--smoky-black);
  /* CSS HEX */
  --second-color: #9400d3 ;
  --first-color: #00ffff;
  --smoky-black: #000000;
  --white: #f8f8f8;

/*Fonts*/
  --font-family-titles: 'Righteous', cursive;
  --font-family-titles2: 'Mogra', cursive;
  --font-family-descriptions:  'Montserrat', sans-serif;
  --size-s: 1rem;
  --size-m: 1.4rem;
  --size-l: 1.6rem;
}
body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.home-div {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0%;
  padding: 0px;
}
.navbar {
  display: flex;
  width: 80%;
  padding: 0;
  flex-direction: row;
  background-color: var(--smoky-black);
}
.ul-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 8px;
  list-style-type: none;
  font-family: var(--font-family-descriptions);
  font-size: var(--size-s);
  font-weight: bolder;
}
.ul-navbar li {
  align-self: center;
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  background: var(--smoky-black);
  -webkit-box-shadow: 2px 2px 5px var(--second-color); /* Prefijo de proveedor para WebKit */
    -moz-box-shadow: 2px 2px 5px var(--second-color); /* Prefijo de proveedor para Gecko (Firefox) */
  box-shadow: 0px 2px 4px var(--first-color); /* Propiedad estándar */
  text-wrap: nowrap;
}
.li-navbar a {
  font-family: var(--font-family-descriptions);
  font-size: var(--size-s);
  font-weight: bolder;
  color: var(--white);
  text-decoration: none;
  -webkit-text-stroke: 0.1px var(--second-color);
}

.border-efect-div {
  height: 280px;
  width: 100%;
  background-color: var(--first-color);
  border-radius: 0 0 480px 480px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-efect-div::before {
  content: "";
  position: absolute;
  height: 400px;
  width: 100%;
  background-image: conic-gradient(var(--second-color) 100deg, transparent 20deg);
  animation: rotar 4s linear infinite;
}

@keyframes rotar{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(-360deg);
  }
}

.border-efect-div::after {
  margin-top: -10px;
  content: "";
  position: absolute;
  height: 288px;
  width: 100%;
  background: var(--smoky-black);
  border-radius: 0 0 480px 480px;
}
.img-profile-div {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  z-index: 1; 
}
.img-profile-div img {
  width: 44vh;
  mask-image: linear-gradient(
    var(--smoky-black) 70%, 
    transparent
  );
}
.titles-home-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-family: var(--font-family-titles);
  font-size: var(--size-l);
  position: relative;
  z-index: -1;
}
.titles-home-div h1 {
  margin: 30px 0 10px 0;
  padding: 0;
  font-size: 72px;
  font-weight: 100;
  color: var(--first-color);
  -webkit-text-stroke: 0.5px white;
}
.titles-home-div h2 {
  font-weight: 100;
  color: var(--smoky-black);
  -webkit-text-stroke: 1px var(--second-color);
}
.footer {
  margin-top: -1px;
  display: flex;
  height: 30%;
}
.footer ul {
  /* display: flex;
  flex-direction: row;
  gap: 18px;
  font-size: var(--size-s);
  font-family: var(--font-family-titles);
  color: var(--white);
  list-style-type: none; */
  position: absolute;
  left: 46%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 8% auto 0;
  gap: 60px;
}
.footer ul li {
  list-style: none;
  margin: 46px 80px;
}

.footer ul li a span {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  transition: .5s;
}
.footer ul li a span img {
  width: 30px;
}
.footer ul li a {
  text-decoration: none;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--smoky-black);
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 1s;
  box-shadow: -20px 20px 10px var(--first-color);
}
.footer ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: var(--first-color);
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
.footer ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: var(--first-color);
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}
.footer ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}
.footer ul li:hover .fa {
  color: #fff;
}
.footer ul li:hover span {
  color: #fff;
}
.footer ul li:hover:nth-child(1) a {
  background: #3b5998;
}
.footer ul li:hover:nth-child(1) a:before {
  background: #365492;
}
.footer ul li:hover:nth-child(1) a:after {
  background: #4a69ad;
}
.footer ul li:hover:nth-child(2) a {
  background: #00aced;
}
.footer ul li:hover:nth-child(2) a:before {
  background: #097aa5;
}
.footer ul li:hover:nth-child(2) a:after {
  background: #53b9e0;
}
.footer ul li:hover:nth-child(3) a {
  background: #ABB2B9 ;
}
.footer ul li:hover:nth-child(3) a:before {
  background: #D5D8DC ;
}
.footer ul li:hover:nth-child(3) a:after {
  background: #EAECEE;
}
ul li:hover:nth-child(4) a {
  background: #E67E22 ;
}
ul li:hover:nth-child(4) a:before {
  background: #D68910;
}
ul li:hover:nth-child(4) a:after {
  background: #F8C471;
}
@media only screen and (max-width: 760px) {
  .titles-home-div h1 {
    margin: 30px auto 40px;
    align-self: center;
    padding: 0;
    font-size: 50px;
    font-weight: 100;
    color: var(--first-color);
    -webkit-text-stroke: 0.5px white;
  }
  .footer {
    margin-top: -1px;
    display: flex;
    height: 30%;
  }
  .footer ul {
    position: absolute;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 34% auto 0;
    padding: 0;
  }
  .footer ul li {
    list-style: none;
    margin: 46px 60px;
  }
  
}